set keymap vi
set editing-mode vi

# Prefix your prompt with + while in insert-mode and : while in command mode
set show-mode-in-prompt on
set vi-ins-mode-string "+"
set vi-cmd-mode-string ":"

# Mappings for vim command mode
#set keymap vi-command

# Mappings for vim insert mode
#set keymap vi-insert

